In [18]:
# movie title,rating

from bs4 import BeautifulSoup
import pandas as pd

f=open("30 Most Popular Movies Right Now_ What to Watch In Theaters and Streaming __ Rotten Tomatoes – Movie and TV News.html","r",encoding="utf-8")
response = f.read()
soup = BeautifulSoup(response,"html.parser")
# print(soup.prettify())
movie = soup.find_all("div",class_="article_movie_title")
titles = []
ratings = []
for i in movie:
    t = i.find("h2")
    title = i.find("a").text.strip()
    rating = i.find("span",class_="tMeterScore").text.strip()
    titles.append(title)
    ratings.append(rating)
    
data = {"Movie Title":titles,"Rating":ratings}
df = pd.DataFrame(data)
df

                                Movie Title Rating
0          Transformers: Rise of the Beasts    53%
1       Spider-Man: Across the Spider-Verse    96%
2                        The Little Mermaid    67%
3                             The Boogeyman    63%
4     Are You There God? It's Me, Margaret.    99%
5                                    Fast X    56%
6                                BlackBerry    98%
7                               The Machine    27%
8                                   Reality    92%
9                               Flamin' Hot    68%
10           Guardians of the Galaxy Vol. 3    82%
11                                Blue Jean    94%
12                               Past Lives    97%
13              The Super Mario Bros. Movie    58%
14                 Avatar: The Way of Water    76%
15               Guy Ritchie's The Covenant    83%
16                                Bumblebee    91%
17                                Nefarious    33%
18                                     Sisu    93%
19                     You Hurt My Feelings    95%
20                     John Wick: Chapter 4    94%
21                           Leave No Trace    80%
22                          About My Father    36%
23  Dungeons & Dragons: Honor Among Thieves    90%
24                             Transformers    57%
25                                 My Fault
26                         A Beautiful Life    50%
27     The Angry Black Girl and Her Monster    88%
28                                  Missing    87%
29                                      Air    92%

In [31]:
# name,rating,fprice,mprice

from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

f=open("flipkart.html","r",encoding="utf-8")
response = f.read()
soup = BeautifulSoup(response,"html.parser")
# print(soup.prettify())
flip = soup.find_all("div",class_="_3pLy-c")
name = []
rating = []
fprice = []
mprice = []
for i in flip:
    t = i.find("div")
    n = i.find("div",class_="_4rR01T").text.strip()
    name.append(n)
    r = i.find("div",class_="_3LWZlK").text.strip()
    rating.append(r)
    fp = i.find("div",class_="_30jeq3 _1_WHN1").text.strip()
    fprice.append(fp)
    try:
        mp = i.find("div",class_="_3I9_wc _27UcVY").text.strip()
        mprice.append(mp)
    except:
        mprice.append(np.nan)
    
data = {"Mobile Name":name,"Rating":rating,"Flipkart Price":fprice,"Market Price":mprice}
df = pd.DataFrame(data)
df

,Mobile Name,Rating,Flipkart Price,Market Price
0,"Huawei P9 (Mystic Silver, 32 GB)",4.5,"₹39,999","₹40,999"
1,"Huawei P9 (Prestige Gold, 32 GB)",4.5,"₹39,999","₹40,999"
2,"SAMSUNG Galaxy S22 Plus 5G (Phantom Black, 128...",4.5,"₹49,999","₹1,01,999"
3,"SAMSUNG Galaxy Z Flip3 5G (Phantom Black, 128 GB)",4.3,"₹44,999","₹95,999"
4,"MOTOROLA Edge 30 Ultra (Interstellar Black, 25...",4.2,"₹49,999","₹74,999"
5,"MOTOROLA Edge 30 Ultra (Starlight White, 256 GB)",4.2,"₹49,999","₹74,999"
6,"SAMSUNG Galaxy A54 5G (Awesome Violet, 256 GB)",4.3,"₹40,999","₹45,999"
7,"OnePlus 8 (Glacial Green, 256 GB)",4.5,"₹46,999","₹47,999"
8,"SAMSUNG Galaxy S22 Plus 5G (Green, 128 GB)",4.5,"₹49,999","₹1,01,999"
9,"OnePlus 8 (Interstellar Glow, 256 GB)",4.5,"₹47,349","₹47,999"
10,"Mi 10T Pro (Cosmic Black, 128 GB)",4.2,"₹38,849","₹47,999"
11,"SAMSUNG Galaxy Z Flip3 5G (Cream, 128 GB)",4.3,"₹44,999","₹95,999"
12,"vivo X70 Pro (Cosmic Black, 256 GB)",4.4,"₹49,999","₹57,990"
13,"vivo X70 Pro (Aurora Dawn, 256 GB)",4.4,"₹47,999","₹57,990"
14,"OnePlus 9RT 5G (Hacker Black, 256 GB)",4.1,"₹48,999",NaN
15,"OnePlus 9RT 5G (Nano Silver, 256 GB)",4.1,"₹46,999",NaN
16,"OnePlus 9 5G (Winter Mist, 256 GB)",4,"₹49,999",NaN
17,"APPLE iPhone 11 (Red, 128 GB)",4.6,"₹46,999","₹48,900"
18,"OnePlus 9 5G (Astral Black, 128 GB)",3.9,"₹49,999",NaN
19,"Xiaomi 12 Pro 5G (Opera Mauve, 256 GB)",4.2,"₹43,990","₹79,990"
20,"Xiaomi 12 Pro 5G (Couture Blue, 256 GB)",4.2,"₹43,900","₹79,990"
21,"realme GT 2 Pro (Steel Black, 128 GB)",4.2,"₹49,999","₹57,999"
22,"vivo X70 Pro (Aurora Dawn, 256 GB)",4.5,"₹48,999","₹54,990"
23,"Xiaomi 12 Pro 5G (Couture Blue, 256 GB)",4.1,"₹48,880","₹84,999"

In [44]:
# Extract values of all cars and create data frame for Car name,mileage,dealer name,rating,review counts,car price for
# Certified used Mercedes-Benz for sale.html

from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

f=open("Certified used Mercedes-Benz for sale.html","r",encoding="utf-8")
response = f.read()
soup = BeautifulSoup(response,"html.parser")
# print(soup.prettify())
car_data = soup.find_all("div",class_="vehicle-details")
cname = []
mil = []
dname = []
rat = []
rev_cnt = []
cprice = []
for i in car_data:
    t = i.find("div")
    cn = i.find("h2",class_="title").text.strip()
    cname.append(cn)
    m = i.find("div",class_="mileage").text.strip()
    mil.append(m)
    dn = i.find("div",class_="dealer-name").text.strip()
    dname.append(dn)
    try:
        r = i.find("span",class_="sds-rating__count").text.strip()
        rat.append(r)
    except:
        rat.append(np.nan)
    rc = i.find("span",class_="sds-rating__link").text[1:-1].strip()
    rev_cnt.append(rc)
    cp = i.find("span",class_="primary-price").text.strip()
    cprice.append(cp)

data = {"Car Name":cname,"Mileage":mil,"Dealer Name":dname,"Rating":rat,"Review Count":rev_cnt,"Car Price":cprice}
df = pd.DataFrame(data)
df

,Car Name,Mileage,Dealer Name,Rating,Review Count,Car Price
0,2020 Mercedes-Benz CLA 250 Base 4MATIC,"28,744 mi.",Mercedes-Benz of Lynnwood,4.4,130 reviews,"$35,995"
1,2019 Mercedes-Benz AMG GT 53 Base,"25,771 mi.",International Autos,4.0,117 reviews,"$79,995"
2,2021 Mercedes-Benz AMG GLE 53 Base,"22,374 mi.",John Sisson Motors,2.8,38 reviews,"$80,923"
3,2022 Mercedes-Benz AMG CLA 45 Base 4MATIC,"10,595 mi.",Mercedes-Benz of Santa Rosa,NaN,30 reviews,"$56,633"
4,2021 Mercedes-Benz AMG GLE 53 Base,"33,622 mi.",Mercedes-Benz of Rochester,4.7,152 reviews,"$76,995"
5,2021 Mercedes-Benz E-Class E 450 4MATIC,"12,477 mi.",Benzel-Busch Motor Car,4.5,"5,283 reviews","$76,532"
6,2021 Mercedes-Benz AMG GLE 63 S-Model 4MATIC,"22,383 mi.",Mercedes-Benz of Lancaster,4.8,174 reviews,"$102,990"
7,2019 Mercedes-Benz S-Class S 560,"49,332 mi.",Mercedes-Benz of Ontario,4.8,"2,016 reviews","$54,580"
8,2021 Mercedes-Benz AMG GLE 53 Base,"37,688 mi.",John Sisson Motors,2.8,38 reviews,"$76,715"
9,2021 Mercedes-Benz GLA 250 Base,"19,521 mi.",Mercedes-Benz of Augusta,4.6,264 reviews,"$34,999"
10,2022 Mercedes-Benz AMG C 43 Base 4MATIC,"14,420 mi.",Mercedes-Benz of Chicago,4.8,"1,327 reviews","$62,991"
11,2018 Mercedes-Benz AMG C 43 Base 4MATIC,"34,555 mi.",Mercedes-Benz of South Orlando,4.4,"1,388 reviews","$39,999"
12,2021 Mercedes-Benz E-Class E 450 4MATIC,"16,474 mi.",Contemporary Motor Cars Inc.,4.8,226 reviews,"$74,998"
13,2021 Mercedes-Benz S-Class S 580 4MATIC,"10,233 mi.",Mercedes-Benz of Fort Washington,4.5,"2,788 reviews","$99,822"
14,2022 Mercedes-Benz GLE 450 AWD 4MATIC,"6,800 mi.",Mercedes-Benz of Chicago,4.8,"1,327 reviews","$73,990"
15,2018 Mercedes-Benz GLC 300 Base 4MATIC,"54,467 mi.",Mercedes-Benz of Fort Washington,4.5,"2,788 reviews","$29,151"
16,2022 Mercedes-Benz AMG GLA 35 Base,"8,690 mi.",Mercedes-Benz of Fort Washington,4.5,"2,788 reviews","$49,736"
17,2022 Mercedes-Benz GLB 250 Base,"8,158 mi.",Mercedes-Benz Of Tampa,4.1,"3,521 reviews","$42,000"
18,2022 Mercedes-Benz S-Class S 500 4MATIC,"8,401 mi.",Mercedes-Benz of Walnut Creek,4.5,"1,016 reviews","$86,986"
19,2020 Mercedes-Benz AMG S 63 Base 4MATIC,"24,958 mi.",Autobahn Motors,4.8,"1,000 reviews","$105,997"
20,2021 Mercedes-Benz GLC 300 Base 4MATIC,"49,278 mi.",Bergstrom Luxury on Victory Lane,4.2,292 reviews,"$37,280"